var HtmlWebpackPlugin = require('html-webpack-plugin'),
    path = require('path'),
    webpack = require('webpack'),
    DirectoryNamedWebpackPlugin = require("directory-named-webpack-plugin");

module.exports = {
  entry: {
    app: './app/index.js',
  },
  output: {
    filename:   '[name]_[hash].js',
    path: path.join(__dirname, '..', 'public/'),
  },
  resolve: {
    root:[
      path.resolve('app/'),
    ],
  },
  module: {
    loaders: [
      {
        test: /\.js$/,
        exclude: /(node_modules)/,
        loader: 'babel-loader',
        query: {
          presets: ['es2015', 'react'],
        },
      },
    ],
  },
  plugins: [
    new HtmlWebpackPlugin({
      title: 'React Reference',
      filename: 'index.html',
      templateContent: '<div id="target"></div>'
    }),
    new webpack.ResolverPlugin(new DirectoryNamedWebpackPlugin())
  ],
};
