var HtmlWebpackPlugin = require('html-webpack-plugin'),
    path = require('path');

console.log(__dirname);

module.exports = {
  entry: {
    app: './index.js',
  },
  output: {
    filename:   '[name].js',
    path: path.join(__dirname, '..', 'public/'),
  },
  plugins: [
    new HtmlWebpackPlugin({
      title: 'React Redux Reference',
      filename: 'index.html',
    })
  ],
}
